:root{
  --gold:#facc15;
  --gold-soft:#fde047;
  --dark:#020617;
  --dark2:#000000;
}

/* Global */
body{
  margin:0;
  font-family:Segoe UI,system-ui,sans-serif;
  background:
    radial-gradient(circle at center, rgba(250,204,21,.15), transparent 60%),
    linear-gradient(180deg,#020617,#000000);
  color:#f8fafc;
}

/* Navbar */
.navbar{
  background:linear-gradient(90deg,#020617,#000000,#020617)!important;
  border-bottom:1px solid rgba(250,204,21,.5);
  box-shadow:0 0 40px rgba(250,204,21,.25);
}
.navbar-brand{
  background:var(--gold);
  color:#020617!important;
  padding:8px 18px;
  border-radius:12px;
  font-weight:700;
  box-shadow:0 0 18px rgba(250,204,21,.9);
}
.btn-main{
  text-decoration:none;
  color:var(--gold-soft)!important;
  border:1px solid rgba(250,204,21,.6);
  padding:10px 20px;
  border-radius:14px;
  margin:4px;
  transition:.3s;
}
.btn-main:hover{
  background:var(--gold);
  color:#020617!important;
  box-shadow:0 0 25px rgba(250,204,21,.9);
}
.btn-main.active{
  background:var(--gold);
  color:#020617!important;
}

/* Hero */
.hero{
  background:
    radial-gradient(circle at center, rgba(250,204,21,.18), transparent 60%),
    linear-gradient(180deg,#020617,#000000);
  color:white;
}

/* Cards */
.project-card,.badge-card,.terminal-box{
  background:linear-gradient(145deg,#020617,#000000);
  border-radius:22px;
  padding:25px;
  box-shadow:0 0 35px rgba(250,204,21,.25);
  border:1px solid rgba(250,204,21,.4);
}

/* Headings */
h1,h2,h3,h4{
  color:var(--gold);
}

/* Buttons */
.project-btn{
  display:inline-block;
  padding:10px 20px;
  border-radius:14px;
  border:1px solid rgba(250,204,21,.6);
  color:var(--gold-soft);
  text-decoration:none;
  transition:.3s;
}
.project-btn:hover{
  background:var(--gold);
  color:#020617;
  box-shadow:0 0 20px rgba(250,204,21,.8);
}

/* Badges */
.badge{
  background:var(--gold);
  color:#020617;
  border-radius:10px;
  padding:6px 12px;
}

/* Footer */
footer{
  color:var(--gold);
}

/* Terminal */
.terminal-box{
  font-family:monospace;
  color:var(--gold-soft);
}
